@import url(../vendor/normalize.css);

@import url(../blocks/page.css);

@import url(../blocks/header.css);

@import url(../blocks/nav.css);

@import url(../blocks/recipes.css);

@import url(../blocks/reservation.css);

@import url(../blocks/form.css);


.menu{
  background-color: #fff;
  background-image: url(../images/images/background_menu.svg);
  background-repeat: none;
  background-position: center;
  background-size: cover;
  padding: 100px 0 100px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu__title{
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
  margin: 0 0 24px;
}
.menu__subtitle{
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  margin: 0 0 100px;
}
